@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf") format('truetype');
}
:root {
    --red: #F04451;
    --white: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
    background-color: #272937;
    min-height: 100vh;
    background-image: url("/images/BackgroundSite.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.container {
    width: 1345px;
    margin: 0 auto;
}
.pages-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
html {
    height: 100%;
}

@media (max-width: 1630px) {
    .container {
        width: 100%;
        padding: 0 120px;
    }
}
@media (max-width: 960px) {
    .container {
        width: 880px;
        padding: 0;
    }
}
@media (max-width: 900px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}